<div class="mattblackmenu">
 <ul id="mycarousel" class="jcarousel-skin-tango">
   <li><a href="#"><img src="images/daily.png" border="0" /><div>Daily</div></a></li><li class="seprator"></li>
   <li><a href="#"><img src="images/dream.png" border="0" /><div>Dream</div></a></li><li class="seprator"></li>
   <li><a href="#"><img src="images/drafts.png" border="0" /><div>Drafts</div></a></li><li class="seprator"></li>
   <li><a href="#"><img src="images/submissions.png" border="0" /><div>Submissions</div></a></li><li class="seprator"></li>
	<li><a href="#"><img src="images/daily.png" border="0" /><div>Daily</div></a></li><li class="seprator"></li>
	<li><a href="#"><img src="images/daily.png" border="0" /><div>Daily</div></a></li><li class="seprator"></li>
	<li><a href="#"><img src="images/daily.png" border="0" /><div>Daily</div></a></li><li class="seprator"></li>
  </ul>
</div>