<div id="inner-content-bash">
		  <div class="menu-bg">
		  	<div class="nav">
			
			</div>
			
			<div class="nav1">
				<div class="nav-left"></div>
				<div class="nav-mid">
					<div class="topnav1">
				<ul>
					<li><a href="#" ><img src="../assets/search.png"  border="0"  style="float:left"/><span>Search</span></a></li>
					<li><a href="#" ><img src="../assets/explorer.png"  border="0" style="float:left"/>Explorer</a></li>
					<li><a href="#" ><img src="../assets/puls-input.png"  border="0" style="float:left"/>Pulse Input</a></li>
					<li><a href="#" ><img src="../assets/puls-graph.png"   border="0" style="float:left"/>Pulse Graph</a></li>
					<li><a href="#" ><img src="../assets/prompts.png"  border="0" style="float:left"/>Prompts</a></li>
					<!--<li><a href="#" ><img src="menu/timeline.png"  border="0"/></a></li>-->
					<li><a href="#" ><img src="../assets/quotes.png"  border="0" style="float:left"/>Quotes</a></li>
					<li><a href="#" style="border-right:none"  class="win"><img src="../assets/wisdom.png"   border="0" style="float:left"/>Wisdom</a></li>
				</ul>
			</div>
				</div>
				<div class="nav-right"></div>
			</div>
			
		  </div>
		 </div>