<div id="inner-header">
		<div class="inner-logo"><a href="#"><img src="../assets/inner-logo.jpg" width="415" height="81" border="0" /></a></div>
		<div class="white12"><strong>Welcome</strong> : <%= current_user.Firstname %></div>
		<div class="white12"><a href="#">Account</a>   |   <a href="#">Preferences</a>   |   <a href="#">Training</a>   |   <a href="/logout">Logout</a></div>
  </div>